<li id="thread_content-<%= thread_content.id %>" class="thread_content">
    <div class="pull-left">
      <%= image_tag thread_content.user.image %>
    </div>
    <div class="media-body">
      <%= thread_content.content %>
    </div>
</li>
