<li class="dummycard">
  <div class="product-box box-row">
    <div class="box-column">
      <div class="card-title"></div>
      <div class="card-content"></div>
    </div>
    <div class="img-container card-image"></div>
  </div>
</li>
