<div class="group-user-info">
  <%= link_to page.user do %>
    <span class="name">
      <%= page.user.name %>
    </span>
  
    <div class="pull-right img-container user-image img-circle">
      <%= image_tag page.user.image %>
    </div>
    <%#= render 'users/user', user: page.user %>
  <% end %>
</div>