////////////////////////
//common
////////////////////////
.dropdown-menu {
  min-width: 115px;
}
.clear-padding {
  padding: 0;
}
.clear-margin {
  margin: 0
}
.alert {
  margin: 0;
}
.user-name {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 65px;
  color: white;
  text-align: center;
  background-color: #D53;
  padding: 22px;
  z-index: -100;
  font-size: 16px;
}
.nav-header {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 220px;
}
.alert {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#error_explanation {
  ul {
    padding-left: 30px;
  }
  li {
    color: #a94442;
    margin: 10px 0;
  }
  
}
.modal-body {
  p {
    line-height: 300%;
    margin: 0;
  }
}

.breadboard {
  background-color: #ffefef;
}
.circuit {
  background-color: #eff7ff;
}
.description {
  background-color: #ffffef;
}
.element_list {
  background-color: #efffef;
}
.program {
  background-color: #f7efff;
}
.cad {
  background-color: #D6E3F0;
}
.other {
  background-color: #f9f9f9;
}
.breadboard-border {
  border-left: 5px solid #c0392b;
}
.circuit-border {
  border-left: 5px solid #2980b9;
}
.description-border {
  border-left: 5px solid #f39c12;
}
.program-border {
  border-left: 5px solid #8e44ad;
}
.cad-border {
  border-left: 5px solid #2c3e50;
}
.other {
  border-left: 5px solid #7f8c8d;
}
////////////////////////
//form
////////////////////////
.form-label {
  margin: 20px 0 10px;
}
.submit-margin {
  margin-top: 30px;
}
////////////////////////
//card
////////////////////////
.cards-index {
  margin: 0 20px;
  .card-index-count {
    background: white;
    margin: 75px 0;
    padding: 25px 20px 20px;
  }
  .cards {
    margin: 0 -25px;
    list-style: none;
    a {
      color: #666;
    }
    .card {
      padding: 0 25px 40px 25px;
      .card-update {
        text-align: right;
        .ibox {
          background: white;
          padding: 5px 3%;
        }
      }
      .ibox {
        position: relative;
        z-index: 1;
        background-color: white;
        .card-title {
          padding: 10px 5%;
          text-align: left;
        }
        .card-content {
          background: #f8f8f9;
          color: #666;
          .fa-container {
            display:flex;
            -webkit-align-items: center;
            -webkit-justify-content: center; 
            align-items: center; /*上下中央*/
            justify-content: center; /*左右中央*/
            height: 250px;
            width: 100%;
            padding: 5% 10%;
            font-weight: 400;
            .fa {
            padding: 100px 0;
            }
          }
          .img-container {
            height: 250px;
          }
          .text-container {
            display:flex;
            -webkit-align-items: flex-start;
            -webkit-justify-content: center; 
            align-items: center; /*上下中央*/
            justify-content: flex-start; /*左右中央*/
            height: 250px;
            width: 100%;
            padding: 5% 10%;
            font-weight: 400;
            .fa {
            padding: 100px 0;
            }
          }
        }
        hr {
          margin: 0px;
          border: 0;
          border-top: 1px solid #ddd;
        }
        .page-info {
          padding: 3px 3%;
          text-align: right;
        }
        .card-tool {
          padding: 15px 5%;
          .card-tool-left {
            text-align: left;
          }
          .card-tool-center {
            text-align: center;
          }
          .card-tool-right {
            text-align: right;
          }
        }
      }
    }
  }
}
#card-modal {
  a {
    color: #666;
  }
  .card {
    width: 50%;
    margin: 100px auto;
    .card-update {
      text-align: right;
      .ibox {
        background: white;
        padding: 5px 3%;
      }
    }
    .ibox {
      position: relative;
      z-index: 1;
      background-color: white;
      .card-title {
        padding: 10px 5%;
        text-align: left;
      }
      .card-content {
        background: #f8f8f9;
        color: #666;
        .img-container {
          padding: 25px 0;
          width: 100%;
        }
        .text-container {
          padding: 30px 5%;
        }
      }
      hr {
        margin: 0px;
        border: 0;
        border-top: 1px solid #ddd;
      }
      .page-info {
        padding: 3px 3%;
        text-align: right;
      }
      .card-tool {
        padding: 15px 5%;
        .card-tool-left {
          text-align: left;
        }
        .card-tool-center {
          text-align: center;
        }
        .card-tool-right {
          text-align: right;
        }
      }
    }
  }
}

.pagecards {
  list-style: none;
  a {
    color: #666;
  }
  .pagecard {
    .ibox {
      position: relative;
      z-index: 1;
    }
    .product-desc {
      padding: 10px;
      min-height: 50px;
      .toolbar {
        text-align: center;
      }
    }
    .img-container {
      height: 100px;
    }
    .no-image {
      color: #999;
      font-style: italic;
    }
    .box-row {
      height: 100px;
      display: flex;
      flex-flow: row;
    }
    .box-column {
      display: flex;
      flex-flow: column;
      flex: 1;
    }
    .card-title {
      flex-grow: 1;
      font-weight: 900;
      display:flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; 
      align-items: center; /*上下中央*/
      justify-content: center; /*左右中央*/
      border-bottom: 1px dashed #ccc;
    }
    .card-content {
      flex-grow: 2;
      padding: 5px 10px;
      display:flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; 
      align-items: center; /*上下中央*/
      justify-content: center; /*左右中央*/
      }
    .card-image {
      color: #666;
      background: #eaeaea;
      width: 100px;
      height: 100px;
      display:flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; 
      align-items: center; /*上下中央*/
      justify-content: center; /*左右中央*/
    }
  }
}
.dummycards {
  visibility : hidden;
}
////////////////////////
//page new
////////////////////////
$image-size: 200px;  
.page-new {
    .no-image {
      color: #999;
      font-style: italic;
    }
    .breadboard {
      background-color: #ffefef;
    }
    .circuit {
      background-color: #eff7ff;
    }
    .description {
      background-color: #ffffef;
    }
    .element_list {
      background-color: #efffef;
    }
    .program {
      background-color: #f7efff;
    }
    .cad {
      background-color: #D6E3F0;
    }
    .other {
      background-color: #f9f9f9;
    }
  .left-window {
    .full-height-scroll {
      padding: 0 50px;
      #sortable-left { 
        list-style-type: none;
        padding-left: 0px;
        min-height: 100%;
        overflow: hidden;
        li {
          width: 100%;
          padding: 0px;
        }
      }
      ul.notes li {
        width: 100%;
        margin: 0px;
        div {
          margin: 50px auto;
          height: 250px;
          width: 250px;
          color: #666;
          strong {
            background: linear-gradient(transparent 10%, rgb(255, 170, 170) 80%);
          }
          h4 {
            margin-bottom: 20px
          }
          p {
            font-size: 14px;
          }
        }
      }
      .page-cards {
        list-style: none;
        text-decoration: none;
        hr {
          margin: 0px;
          border: 0;
          border-top: 2px dashed #ccc;
        }
        a {
          color: #666;
        }
        .product-box {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          background-color: white;
          margin-bottom: 15px;
        }
        .breadboard {
          border-left: 5px solid #c0392b;
        }
        .circuit {
          border-left: 5px solid #2980b9;
        }
        .description {
          border-left: 5px solid #f39c12;
        }
        .element_list {
          border-left: 5px solid #27ae60;
        }
        .program {
          border-left: 5px solid #8e44ad;
        }
        .cad {
          border-left: 5px solid #2c3e50;
        }
        .other {
          border-left: 5px solid #7f8c8d;
        }
        .product-desc {
          padding: 10px;
          min-height: 50px;
          .toolbar {
            text-align: center;
          }
        }
        .img-container {
          height: 100px;
        }
        .box-row {
          height: 100px;
          display: flex;
          flex-flow: row;
        }
        .box-column {
          display: flex;
          flex-flow: column;
          flex: 1;
        }
        .card-title {
          flex-grow: 1;
          font-weight: 900;
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
          border-bottom: 1px dashed #ccc;
        }
        .card-content {
          flex-grow: 2;
          padding: 5px 10px;
          flex: auto;
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
          }
        .card-image {
          color: #666;
          background: #eaeaea;
          width: 100px;
          height: 100px;
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
        }
      }
      .ui-sortable-placeholder {
      border: 1px dashed #000;
      visibility: visible;
      background-color: #f9fcff;
      height: 100px;
    }
    }
  }
  .right-window {
    padding: 0 50px;
    border-left: dashed 2px #f99;
    .btn-md {
      margin-bottom: 25px;
    }
    #sortable-right {
      list-style-type: none;
      width: 100%;
      min-height: 100%;
      overflow: hidden;
    }
    .ibox {
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .dd-empty {
      background-color: #EFEBEA;
      border: none;
    }
    .ui-sortable-placeholder {
      border: 1px dashed #000;
      visibility: visible;
      background-color: #f9fcff;
      height: $image-size;
    }
    .page-cards {
      list-style: none;
      text-decoration: none;
      hr {
        margin: 0px;
        border: 0;
        border-top: 1px dashed #ccc;
      }
      a {
        color: #666;
      }
      .product-box {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        background-color: white;
        margin: 0px 0 1px 0 ;
      }
      .breadboard {
        border-left: 5px solid #c0392b;
      }
      .circuit {
        border-left: 5px solid #2980b9;
      }
      .description {
        border-left: 5px solid #f39c12;
      }
      .element_list {
        border-left: 5px solid #27ae60;
      }
      .program {
        border-left: 5px solid #8e44ad;
      }
      .cad {
        border-left: 5px solid #2c3e50;
      }
      .other {
        border-left: 5px solid #7f8c8d;
      }
      .product-desc {
        padding: 10px;
        min-height: 50px;
        .toolbar {
          text-align: center;
        }
      }
      .img-container {
        height: $image-size;
      }
      .box-row {
        height: $image-size;
        display: flex;
        flex-flow: row;
      }
      .box-column {
        display: flex;
        flex-flow: column;
        flex: 1;
      }
      .card-title {
        flex-grow: 1;
        font-weight: 900;
        display:flex;
        -webkit-align-items: center;
        -webkit-justify-content: center; 
        align-items: center; /*上下中央*/
        justify-content: center; /*左右中央*/
        border-bottom: 2px dashed #ccc;
        h4 {
          font-size: 16px;
        }
        small {
          fon-size: 12px
        }
      }
      .card-content {
        flex-grow: 4;
        padding: 5px 10px;
        display:flex;
        -webkit-align-items: center;
        -webkit-justify-content: center; 
        align-items: center; /*上下中央*/
        justify-content: center; /*左右中央*/
        }
      .card-image {
        color: #666;
        background: #eaeaea;
        width: $image-size;
        height: $image-size;
        display:flex;
        -webkit-align-items: center;
        -webkit-justify-content: center; 
        align-items: center; /*上下中央*/
        justify-content: center; /*左右中央*/
      }
    }
  }
}
////////////////////////
//page edit
////////////////////////
$image-size: 200px;  
.page-new {
  .breadboard {
      background-color: #ffefef;
    }
    .circuit {
      background-color: #eff7ff;
    }
    .description {
      background-color: #ffffef;
    }
    .element_list {
      background-color: #efffef;
    }
    .program {
      background-color: #f7efff;
    }
    .cad {
      background-color: #D6E3F0;
    }
    .other {
      background-color: #f9f9f9;
    }
  .left-window {
    .full-height-scroll {
      padding: 0 50px;
      #edit_sortable-left { 
        list-style-type: none;
        padding-left: 0px;
        min-height: 100%;
        overflow: hidden;
        li {
          width: 100%;
          padding: 0px;
        }
      }
      ul.notes li {
        width: 100%;
        margin: 0px;
        div {
          margin: 50px auto;
          height: 250px;
          width: 250px;
          color: #666;
          strong {
            background: linear-gradient(transparent 10%, rgb(255, 170, 170) 80%);
          }
          h4 {
            margin-bottom: 20px
          }
          p {
            font-size: 14px;
          }
        }
      }
      .page-cards {
        list-style: none;
        text-decoration: none;
        hr {
          margin: 0px;
          border: 0;
          border-top: 2px dashed #ccc;
        }
        a {
          color: #666;
        }
        .product-box {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          background-color: white;
          margin-bottom: 15px;
        }
        .breadboard {
          border-left: 5px solid #c0392b;
        }
        .circuit {
          border-left: 5px solid #2980b9;
        }
        .description {
          border-left: 5px solid #f39c12;
        }
        .element_list {
          border-left: 5px solid #27ae60;
        }
        .program {
          border-left: 5px solid #8e44ad;
        }
        .cad {
          border-left: 5px solid #2c3e50;
        }
        .other {
          border-left: 5px solid #7f8c8d;
        }
        .product-desc {
          padding: 10px;
          min-height: 50px;
          .toolbar {
            text-align: center;
          }
        }
        .img-container {
          height: 100px;
        }
        .box-row {
          height: 100px;
          display: flex;
          flex-flow: row;
        }
        .box-column {
          display: flex;
          flex-flow: column;
          flex: 1;
        }
        .card-title {
          flex-grow: 1;
          font-weight: 900;
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
          border-bottom: 1px dashed #ccc;
        }
        .card-content {
          flex-grow: 2;
          padding: 5px 10px;
          flex: auto;
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
          }
        .card-image {
          color: #666;
          background: #eaeaea;
          width: 100px;
          height: 100px;
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
        }
      }
      .ui-sortable-placeholder {
      border: 1px dashed #000;
      visibility: visible;
      background-color: #f9fcff;
      height: 100px;
    }
    }
  }
  .right-window {
    padding: 0 50px;
    border-left: dashed 2px #f99;
    .btn-md {
      margin-bottom: 25px;
    }
    #edit_sortable-right {
      list-style-type: none;
      width: 100%;
      min-height: 100%;
      overflow: hidden;
    }
    .ibox {
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .dd-empty {
      background-color: #EFEBEA;
      border: none;
    }
    .ui-sortable-placeholder {
      border: 1px dashed #000;
      visibility: visible;
      background-color: #f9fcff;
      height: $image-size;
    }
    .page-cards {
      list-style: none;
      text-decoration: none;
      hr {
        margin: 0px;
        border: 0;
        border-top: 1px dashed #ccc;
      }
      a {
        color: #666;
      }
      .product-box {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        background-color: white;
        margin: 0px 0 1px 0 ;
      }
      .breadboard {
        border-left: 5px solid #c0392b;
      }
      .circuit {
        border-left: 5px solid #2980b9;
      }
      .description {
        border-left: 5px solid #f39c12;
      }
      .element_list {
        border-left: 5px solid #27ae60;
      }
      .program {
        border-left: 5px solid #8e44ad;
      }
      .cad {
        border-left: 5px solid #2c3e50;
      }
      .other {
        border-left: 5px solid #7f8c8d;
      }
      .product-desc {
        padding: 10px;
        min-height: 50px;
        .toolbar {
          text-align: center;
        }
      }
      .img-container {
        height: $image-size;
      }
      .box-row {
        height: $image-size;
        display: flex;
        flex-flow: row;
      }
      .box-column {
        display: flex;
        flex-flow: column;
        flex: 1;
      }
      .card-title {
        flex-grow: 1;
        font-weight: 900;
        display:flex;
        -webkit-align-items: center;
        -webkit-justify-content: center; 
        align-items: center; /*上下中央*/
        justify-content: center; /*左右中央*/
        border-bottom: 2px dashed #ccc;
        h4 {
          font-size: 16px;
        }
        small {
          fon-size: 12px
        }
      }
      .card-content {
        flex-grow: 4;
        padding: 5px 10px;
        display:flex;
        -webkit-align-items: center;
        -webkit-justify-content: center; 
        align-items: center; /*上下中央*/
        justify-content: center; /*左右中央*/
        }
      .card-image {
        color: #666;
        background: #eaeaea;
        width: $image-size;
        height: $image-size;
        display:flex;
        -webkit-align-items: center;
        -webkit-justify-content: center; 
        align-items: center; /*上下中央*/
        justify-content: center; /*左右中央*/
      }
    }
  }
}
////////////////////////
//page
////////////////////////
.pages-index {
  margin: 0 20px;
  .page-index-count {
    background: white;
    margin: 75px 0;
    padding: 25px 20px 20px;
  }
  .pages {
    margin: 0 -25px;
    list-style: none;
    a {
      color: #666;
    }
    .page {
      .page-update {
        text-align: right;
        .ibox {
          background: white;
          padding: 5px 3%;
        }
      }
      .ibox {
        position: relative;
        z-index: 1;
        background-color: white;
        .page-title {
          padding: 10px 5%;
          text-align: left;
        }
        .ibox-heading {
          min-height: 100px;
          padding: 25px 5%;
        }
        .ibox-content {
          padding: 25px 5% 15px;
          .rest {
            font-weight: 900;
            text-align: center;
            font-size: 10px;
          }
        }
        hr {
          margin: 0px;
          border: 0;
          border-top: 1px solid #ddd;
        }
        .page-info {
          padding: 3px 3%;
          text-align: right;
        }
        .page-tool {
          padding: 15px 5%;
          .card-tool-left {
            text-align: left;
          }
          .card-tool-center {
            text-align: center;
          }
          .card-tool-right {
            text-align: right;
          }
        }
      }
      // .user-image {
      //   margin-top: -5px;
      //   height: 30px;
      //   width: 30px;
      //   float: right;
      // }
    } 
    // .page-list {
    //   padding: 0 25px 60px;
    //   .product-box {
    //     .product-desc {
    //       background-color: white;
    //       padding: 10px 5%;
    //       .second {
    //         padding-top: 10px;
    //       }
    //       .page-title {
    //         text-align: left;
    //         .fa {
    //           padding-top: 5px;
    //         }
    //       }
    //     }
    //     .ibox-heading {
    //       min-height: 100px;
    //       padding: 25px 5%;
    //     }
    //     .ibox-content {
    //       padding: 25px 5% 15px;
    //       .rest {
    //         font-weight: 900;
    //         text-align: center;
    //         font-size: 10px;
    //       }
    //     }
    //     hr {
    //       margin: 0px;
    //       border: 0;
    //       border-top: 1px solid #ddd;
    //     }
    //     .group-info {
    //       background: white;
    //       padding: 3px 5%;
    //       text-align: right;
    //     }
    //     .page-tool {
    //       background-color: white;
    //       padding: 15px 5%;
    //       .page-tool-left {
    //         text-align: left;
    //       }
    //       .page-tool-center {
    //         text-align: center;
    //       }
    //       .page-tool-right {
    //         padding-top: 6px;
    //         text-align: right;
    //       }
    //     }
    //   }
    // }
  }
}
////////////////////////
//page show
////////////////////////
.pages-show {
  margin: 60px -25px;
  list-style: none;
  a {
    color: #666;
  }
  padding: 0 25px 25px;
  .page-update {
    text-align: right;
    .product-box {
      background: white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      padding: 5px 3%;
    }
  }
  .product-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    .product-desc {
      background-color: white;
      padding: 15px 5%;
      .card-title-left {
        text-align: left;
        .fa {
          padding-top: 5px;
        }
      }
      .card-title-right {
        text-align: right;
      }
    }
    .ibox-heading {
      min-height: 100px;
      padding: 25px 5%;
    }
    .ibox-content {
      .page-show {
        padding: 30px 0;
        list-style: none;
      }
      padding: 0px 5%;
      a {
        color: #666;
      }
      .page-list {
        padding: 30px 0;
        .card-update {
          margin-top: -17px;
          text-align: right;
          .product-box {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            padding: 5px 3%;
          }
        }
        .product-box {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          list-style: none;
          background-color: white;
        }
        .product-imitation {
          color: #666;
          display: flex;
        }
        .img-container-show {
          margin: 30px;
          width: 100%;
          height: 500px;
        }
        .text-container {
          display:flex;
          -webkit-align-items: center;
          -webkit-justify-content: center; 
          align-items: center; /*上下中央*/
          justify-content: center; /*左右中央*/
          min-height: 100px;
          width: 100%;
          padding: 0 auto;
          .fa {
          padding: 100px 0;
          }
        }
        .breadboard {
          background-color: #ffefef;
        }
        .circuit {
          background-color: #eff7ff;
        }
        .description {
          background-color: #ffffef;
        }
        .element_list {
          background-color: #efffef;
        }
        .program {
          background-color: #f7efff;
        }
        .cad {
          background-color: #D6E3F0;
        }
        .other {
          background-color: #f9f9f9;
        }
      }
    }
    hr {
          margin: 0px;
          border: 0;
          border-top: 1px solid #ddd;
        }
    .group-info {
      background: white;
      padding: 3px 5%;
      text-align: right;
    }
    .page-tool {
      background-color: white;
      padding: 15px 5%;
      .page-tool-left {
        text-align: left;
      }
      .page-tool-center {
        text-align: center;
      }
      .page-tool-right {
        padding-top: 6px;
        text-align: right;
      }
    }
  }
}
////////////////////////
//group
////////////////////////
.groups-index {
  margin: 0 20px;
  .group-index-count {
    margin: 70px 0 73px;
    padding: 25px 20px 20px;
  }
  .groups {
    margin: 25px -25px;
    list-style: none;
    a {
      color: #666;
    }
    .group-list {
      padding: 0 25px 60px;
      .group-update {
        text-align: right;
        .product-box {
          background: white;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          padding: 5px 3%;
        }
      }
      .product-box {
        margin-bottom: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        .product-desc {
          background-color: white;
          padding: 10px 5%;
          .second {
            padding-top: 10px;
          }
        .group-title {
          text-align: left;
          .fa {
            padding-top: 5px;
          }
        }
      }
      .user-box {
        background-color: #FBF7F3;
        padding: 10px 15px 5px;
      }
      .user-list {
        list-style: none;
        margin: 8px;
        float: left;
        .user-image {
          height: 50px;
          width: 50px;
        }
      }
      .group-info {
        text-align: center;
        padding: 5px 10px 10px;
      }
      .page-count {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }
      .user-image {
        margin-top: -7px;
        height: 30px;
        width: 30px;
        float: right;
      }
    }
      .page-update {
      text-align: right;
        .product-box {
          display: none;
          background: white;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          padding: 5px 3%;
        }
      }
      .defo {
        .product-box {
          margin-bottom: 15px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          .product-desc {
            background-color: white;
            padding: 10px 5%;
            .second {
              padding-top: 10px;
            }
            .page-title {
              text-align: left;
              .fa {
                padding-top: 5px;
              }
            }
          }
          .ibox-heading {
            min-height: 100px;
            padding: 25px 5%;
          }
          .ibox-content {
            padding: 25px 5% 15px;
            .rest {
              font-weight: 900;
              text-align: center;
              font-size: 10px;
            }
            
          }
          .hr {
            display: none;
          }
          hr {
            margin: 0px;
            border: 0;
            border-top: 1px solid #ddd;
          }
          .group-info {
            display: none;
            background: white;
            padding: 3px 5%;
            text-align: right;
          }
          .page-tool {
            background-color: white;
            padding: 15px 5%;
            .page-tool-left {
              text-align: left;
            }
            .page-tool-center {
              text-align: center;
            }
            .page-tool-right {
              padding-top: 6px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
////////////////////////
//group show
////////////////////////
.groups-show {
  margin: 0 20px;
  .group-index-count {
    margin: 30px 0;
    padding: 25px 20px 20px;
  }
  .groups {
    margin: 25px -15px;
    list-style: none;
    a {
      color: #666;
    }
    .pagination {
      margin: 10px 0;
    }
    .group-list {
      padding: 0 25px 25px;
    }
    .group-box {
      margin-bottom: 10px;
      .default-page {
        .ibox-title {
          border-width: 0px 0 0;
        }
      }
    }
    .left-window {
      padding-right: 40px;
    }
    .right-window {
      padding-left: 40px;
      border-left: 2px dashed #f99;
    }
    .group-title {
      font-weight: 900;
    }
    .user-box {
      background-color: #FBF7F3;
      padding: 10px 15px 5px;
      .info {
        padding: 10px 0;
        text-align: center;
        .thre{
          border-left: 1px solid #ccc;
        }
      }
    }
    .user-list {
      list-style: none;
      margin: 8px;
      float: left;
      .user-image {
        height: 50px;
        width: 50px;
      }
    }
    .group-info {
      text-align: center;
      padding: 5px 10px 10px;
      border-bottom: 1px dashed #ccc;
    }
    .page-count {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
    .user-image {
      margin-top: -7px;
      height: 30px;
      width: 30px;
      float: right;
    }
  }
}