<div class="group-info">
  <div class="row m-t-sm">
    <div class="col-sm-4">
      <div class="font-bold">ユーザー数</div>
      <%= group.users.count %>
    </div>
    <div class="col-sm-4 page-count">
      <div class="font-bold">ページ数</div>
      <%= group.pages.count %>
    </div>
    <div class="col-sm-4">
      <div class="font-bold">スレッド数</div>
      22
    </div>
  </div>
</div>