<%= link_to controller: 'cards', action: 'pick_picked', id: card, remote: true do %>
  <div class= "btn btn-sm btn-outline btn-default">
    <i class="fa fa-check-square-o"> PickedUp</i>
  </div>
<% end %>
